body {
    background-color: #F0FFF0;
    color: #ffff;
    font-size: 0.5em;
    text-align: center;
    font-family:'montserrat';
}
.block {
    width: 404px;
    height: 490px;
    background-color: black;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    padding: 13px;
    font-family: 'Montserrat';
}
.welcome{
    letter-spacing: 0.4em;
    font-size: 2.5em;
    line-height: 35px;
    margin-bottom: 50px;
}
.button{
    display: block;
    width: 302px;
    height: 50px;
    border: 4px solid #fff;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 26px;
    line-height: 50px;
    font-size: 0.8em;
    text-transform: uppercase;
    font-family: 'Montserrat';
    text-decoration: none;
    color: #fff;
}
